<!-- 
  File: bottom_navs.ejs
  Student: Yza Castro
  Student ID: 301-272-405
  Date: September 28, 2023
-->

<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container d-flex justify-content-center">
    <h7 class="display-7 navbar-text">&copy;2023 All rights reserved - Yza Castro</h7>
    </div>
    </nav>
  </footer>


