<style>

* 
{
  box-sizing: border-box;
}

body 
{
  font-family: sans-serif;
}


header 
{
  background-color: #666;
  padding: 30px;
}

/* Create two columns/boxes that floats next to each other */
nav {
  text-decoration-line: None;
  font-size: 18px;
  float: left;
  width: 10%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 30px;
}

/* Style the list inside the menu */
nav ul {
  list-style-image: none;
  padding: 0;
}

article {
  font-size: 18px;
  float: center;
  padding: 30px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}

car {
  float: right;
  width: 25%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 30px;
}

section::after 
{
  content: "";
  display: table;
  clear: both;
}


footer 
{
  background-color: #bbb;
  padding: 30px;
  align: center;
}


details > summary 
{
  text-align: center;
  padding: 4px;
  width: 300px;
  background-color: #aaa;
  border: none;
  box-shadow: 1px 1px 2px #bbbbbb;
  cursor: pointer;
}

details > p 
{
  background-color: #aaa;
  padding: 4px;
  margin: 0;
  box-shadow: 1px 1px 2px #bbbbbb;
}

<!-- Yza Castro, 301272405 -->