<!-- contacts.ejs
  Student: Yza Castro
  Student ID: 301-272-405
  Date: September 28, 2023
-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<center>
<main class="ontainer">
<div class="jumbotron">
    <br> <br>
        <h1>Contact Me</h1>
        <br> <br>
        
          <h3>Contact Information</h3>
          <p>
            Feel free to reach out to me via the following channels:
          </p>

          <article>
          <ul>
            <li>Email: yasc11003@gmail.com</li>
            <li>Phone: +1 (437) 238-8716</li>
            <li>Address: 7 German Mills Rd Thornhill L3T 4H4</li>
          </ul>
          </article>
          <br> <br>
        
          <h3>Send me a Message:</h3>
          <article>
          <form action="/submit-form" method="post">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" required>
    
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" required>
    
            <label for="contactNumber">Contact Number:</label>
            <input type="tel" id="contactNumber" name="contactNumber" required>
    
            <label for="email">Email Address:</label>
            <input type="email" id="email" name="email" required>
    
            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="2" required></textarea>
    
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          </article>
    </div>
    <br> <br>

    <article>
          <a href="/" class="btn btn-primary">Back To Home Page</a>
        </article> 
    <br> <br> <br> <br> 
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
</center>

<style>
    article {
  font-size: 18px;
  float: center;
  padding: 30px;
  width: 70%;
  background-color: #f1f1f1;
}
</style>
   