<!-- 
  File: home.ejs
  Student: Yza Castro
  Student ID: 301-272-405
  Date: September 28, 2023
-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

    <center>
<main class="ontainer">
<div class="jumbotron">
    <br> <br>
    <h1> Welcome to Yza's Software Engineering Journey! </h1>

    <article>
    <p>
Hello there! I'm Yza, a passionate student currently immersed in the dynamic world of Software Engineering. Here, you'll get a glimpse into my exciting journey as I navigate the complexities of coding, problem-solving, and building innovative solutions.
<br>
Whether you're a fellow student, a curious visitor, or a tech enthusiast, come along and explore the wonders of software development with me. From learning the latest programming languages to tackling real-world projects, this space is where my love for technology comes to life.
<br>
Let's embark on this adventure together! Feel free to explore my projects, read about my experiences, and join the conversation on the ever-evolving landscape of software engineering.
<br>
Happy coding! 🚀
</p>
</article>
<br> <br>
 
<h1> Mission Statement </h1>
<article>
<p>
        At Yza's Software Engineering Hub, my mission is to foster a collaborative and inclusive space for learning, sharing, and growing within the realm of software development. 
        <br>
        I strive to:
        <br> <br>
        🚀 **Empower Learning:** Inspire and empower aspiring developers through insightful experiences, tutorials, and hands-on projects.
        <br>
        🌐 **Cultivate Community:** Build a supportive community where individuals can connect, share knowledge, and collaborate on innovative initiatives.
        <br>
        💡 **Embrace Innovation:** Stay on the cutting edge of technology, exploring new ideas, tools, and methodologies to drive continuous innovation.
        <br>
        🤝 **Encourage Inclusivity:** Welcome diversity and inclusivity, ensuring that everyone feels valued and has the opportunity to contribute to the tech community.
        <br>
        📚 **Share Insights:** Provide valuable insights, lessons learned, and practical advice to contribute to the collective growth of the software engineering community.
        <br> <br>
        Join me on this exciting journey of discovery and continuous improvement as we shape the future of software engineering together!    
</p>
</article>
      
<br>
<h1> Know More </h1>
      <a href="/about" class="btn btn-primary">About Me</a>

    </div>
    <br> <br>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
    </center>

<style>
    article {
  font-size: 18px;
  float: center;
  padding: 30px;
  width: 70%;
  background-color: #f1f1f1;
}
</style>
   