<!-- 
  File: projects.ejs
  Student: Yza Castro
  Student ID: 301-272-405
  Date: September 28, 2023
-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

    <center>
<main class="ontainer">
<div class="jumbotron">
    <br> <br>
    <h1>Projects</h1>
    <br>

    <h3>The JEEP Project</h3>
    <article>
      <p>
        In this project, I have created a HTML webiste for the vehicle company JEEP.
        <br>
        This website helps people have idea on what JEEP vehicles are and their features.
      </p>
      <img src="/img/jeep.png" alt="JEEP" style="width: 500px; height: 250px;">
      <br> <br>
      <p>
        <a href="/content/proj1/Assignment3.html" class="btn btn-primary">Project 1</a>
      </p>
    </article>
    <br> <br>
    <h3>The Centennial Project</h3>
    <article>
      <p>
        In this project, I have created a HTML webiste for Centennial College.
        <br>
        This website helps students fill out a Continuing Education Course / Instructor Evaluation form to help the college improve their management.
      </p>
      <img src="/img/centennial.png" alt="CENTENNIAL" style="width: 200px; height: 350px;">
      <br> <br>
      <p>
        <a href="/content/proj2/assignment4.html" class="btn btn-primary">Project 2</a>
      </p>
    </article>
    <br> <br>
    <h3>The Real Estate Project</h3>
    <article>
      <p>
        In this project, I have created a HTML webiste for a real estate agent.
        <br>
        This website helps people who are interested in moving and finding their new homes by introducing this real estate agent.
      </p>
      <img src="/img/real.png" alt="ESTATE" style="width: 200px; height: 320px;">
      <br> <br>
      <p>
        <a href="/content/proj3/HomePage.html" class="btn btn-primary">Project 3</a>
      </p>
    </article>
    </div>
    <br> <br>

    <article>
        <p>
          If interested with what are my services just click the button below:
          <br> <br>
          <a href="/services" class="btn btn-primary">Services</a>
        </p>
        </article> 
    <br> <br> <br> <br>    
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
</center>

<style>
    article {
  font-size: 18px;
  float: center;
  padding: 30px;
  width: 70%;
  background-color: #f1f1f1;
}
</style>
   