<!-- 
  File: services.ejs
  Student: Yza Castro
  Student ID: 301-272-405
  Date: September 28, 2023
-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

    <center>
<main class="ontainer">
<div class="jumbotron">
    <br> <br>
    <h1>My Services</h1>
    <br>

        <article>
        <img src="/img/general_programming.jpg" alt="General Programming">
        <br> <br>
        <h3>General Programming</h3>
        <p>
          I can offer expertise in a wide range of programming languages and technologies to meet your unique requirements.
        </p>
        </article>
        <br> <br>
  
        <article>
        <img src="/img/web_development.png" alt="Web Development" style="width: 550px; height: 320px;">
        <br> <br>
        <h3>Web Development</h3>
        <p>
          Craft visually stunning and functional websites that cater to your business needs. From front-end to back-end, I've got you covered.
        </p>
        </article>
        <br> <br>
  
        <article>
        <img src="/img/mobile_apps.jpg" alt="Mobile Apps" style="width: 500px; height: 320px;">
        <br> <br>
        <h3>Mobile Apps</h3>
        <p>
          Transform your ideas into mobile applications. I can specialize in creating intuitive and feature-rich mobile apps for iOS and Android platforms.
        </p>
        </article>
  
    </div>
    <br> <br>

    <article>
        <p>
          Contact Informations Below:
          <br>
          <a href="/contacts" class="btn btn-primary">Contact Me</a>
        </p>
        </article> 
    <br> <br> <br> <br>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
    </center>

    <style>
        article {
      font-size: 18px;
      float: center;
      padding: 30px;
      width: 70%;
      background-color: #f1f1f1;
    }
    </style>
   